/*********************** 
        Algemeen
***********************/
* {
  font-family: 'Roboto Slab', serif;  
  font-weight: 400;
}

body {
    margin: 0;
    height: 100%;
}

header {
    position: sticky;
    width: 100vw;
    background-color: #85F2A0;
    background-image: url("images/globe.jpg");
    background-position: center;
    
}

header section {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

.logo {
    
    height: 80%;
    padding: 25px;
}

nav {
    position: sticky;
    top: 0;
    display: block;
    width: 100vw;
    height: auto;
    min-height: 50px;
    background-color: #72DB6E;
}

.mainMenu ul {
    padding: 0 10%;
    list-style: none;
    display: none;
}

.mainMenu a {
    font-family: 'Noto Sans JP', serif;
    font-weight: 400;
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;    
    padding: 10px;
    margin: 10px;
}

.mainMenu a:hover {
    border: 1px solid black;
}

.dropbtn {
    background-color: #72DB6E;
    color: white;
    padding: 16px;
    font-size: 16px;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover { 
    background-color: #f1f1f1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

main {
    margin-top: 0px;
}
.greenBackGroundMain {
    background: rgba(171, 250, 171, 0.9);
}
/* Footer */

footer {
    background-color: #72DB6E;
}

/*********************** 
          Home
***********************/
.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 350px;
    background-image: url(images/Cave.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero h1,
.hero h2 {
    text-align: center;
    color: #FFF;
    margin: 0;
}

.hero h1 {
    font-size: 40px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
}

.hero h2 {
    font-size: 27px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}

.mainContent {
    display: flex;
    flex-direction: row;
    padding: 40px 140px;
}

.mainContent div {
    width: 100%;
}

.mainContent aside {
    background:  rgb(114,219,110);
    border-radius: 25px;
    width: 600px;
    padding: 20px;
}
.mainContent h2 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}
.mainContent p {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}

/*********************** 
        Over ons
***********************/

.wieBenIkFlex {
    display: flex;
    flex: 100%;
    flex-flow: row wrap;
}
.wieBenIkTitle {

    font-size: 60px;
    color: rgba(255,255,255,1);
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    width: fit-content;
    margin: auto;
    margin-top: 25px;
    padding: 10px;
    border-radius: 20px;
    background: rgba(114,219,110,1);
}
.wieBenIkArticle {
    margin: auto;
    margin-top: 100px;
    background: rgba(114,219,110,1);
    border-radius: 50px;
    width: 80%;
}

.wieBenIkArticle h2 {
    text-align: center;
    font-size: 40px;
    color: rgba(255,255,255,1);
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}
.wieBenIkArticle p {
    font-size: 20px;
    color: rgba(255,255,255,1);
    padding: 5%;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}


/*********************** 
          Foto's
***********************/
.imgTitle {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    width: fit-content;
    margin: auto;
    margin-top: 25px;
    font-size: 60px;
}
.imgSubTitle {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    font-size: 30px;
}

.imgRow {
    flex: 100%;
    max-width: auto;
    padding: 0 4px;
  }
  

  .imgColumn {
    display: flex;
    flex-flow: row wrap;
    padding: 0 4px;
    
  }
  
  .imgColumn img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 10px;
  }
  .imgBox {
    background: rgba(114,219,110,1);
    padding: 20px;
    margin: 5px;
    margin-bottom: 15px;
    border-radius: 20px;
  }


/*********************** 
        Media queries
***********************/
@media screen and (min-width: 480px) {
    
}

@media screen and (min-width: 1024px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mainMenu ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    header {
        background-image: url("images/nightSky.png");
        background-position: center;
    }
    .dropdown {
        display: none
    }

    .wieBenIkArticle {
        width: 40%;
    }

    .imgRow {
        flex: 25%;
      }
}




/*********************** 
        Fonts and colours (delete on final site) (this also is kevins practice page I guess)
***********************/
.box {
width: 200px;
height: 200px;
border: 2px solid black;
margin: 50px;
}
.flexbox-Box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-end;
}
.notoSansJPLight {
    font-family: 'Noto Sans JP, sans-serif';
    font-weight: 300;
}
.notoSansJPNormal {
    font-family: 'Noto Sans JP, sans-serif';
    font-weight: 400;
}
.notoSansJPBold {
    font-family: 'Noto Sans JP, sans-serif';
    font-weight: 700;
}
.OxygenLight {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}
.OxygenNormal {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}
.OxygenBold {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}
.RobotoSlabLight {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
}
.RobotoSlabNormal {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
}
.RobotoSlabBold {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
}
