/*********************** 
        Algemeen
***********************/
* {
  font-family: 'Roboto Slab', serif;  
  font-weight: 400;
}

body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

header {
    position: sticky;
    width: 100vw;
    background-color: #85F2A0;
    background-image: url("images/globe.jpg");
    background-position: center;
    
}

header section {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

.logo {
    height: 80%;
    padding: 25px;
    transform: translateX(-40vw);
    animation-name: logoAnimation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    transition: linear;
}

/* Logo animation */
@keyframes logoAnimation {
    50% {transform: translateX(40vw) rotate(180deg);}
    100% {transform: translateX(-40vw) rotate(360);}
  }

nav {
    position: sticky;
    top: 0;
    display: block;
    width: 100vw;
    height: auto;
    min-height: 50px;
    background-color: #72DB6E;
    z-index: 9999999;
}

.mainMenu ul {
    padding: 0 20%;
    list-style: none;
    display: none;
}

.mainMenu a {
    font-family: 'Noto Sans JP', serif;
    font-weight: 400;
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;    
    padding: 10px 0;
    margin: 20px 0;
    transition: color 0.8s ease-in-out;
}

.mainMenu a::after {
    content: "";
    background-color: #242424;
    width: calc(100%);
    height: 2px;
    display: block;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.mainMenu a:hover {
    color: #242424;
}

.mainMenu a:hover::after {
    opacity: 1;
}

.dropbtn {
    background-color: #72DB6E;
    color: white;
    padding: 16px;
    font-size: 16px;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover { 
    background-color: #f1f1f1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
    animation: dropdownAnimation;
    animation-duration: 500ms;
}
  
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    
}
@keyframes dropdownAnimation {
    from {opacity: 0;}
    to{opacity: 1;}
}
main {
    margin-top: 0px;
}
.greenBackGroundMain {
    background: rgba(171, 250, 171, 0.9);
    padding: 20px 50px;
}

.center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Footer */
footer {
    background-color: #72DB6E;
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 20px 50px;
    margin: 0;
}

footer ul .divider {
    display: none;
}

footer li,
footer a {
    color: #000;
}

/*********************** 
          Home
***********************/
.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 350px;
    background-image: url(images/Cave.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero h1,
.hero h2 {
    text-align: center;
    color: #FFF;
    margin: 0;
}

.hero h1 {
    font-size: 40px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
}

.hero h2 {
    font-size: 27px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}

.mainContent {
    display: flex;
    flex-direction: column;
    padding: 40px 15vw;
    gap: 50px;
}

.mainContent > div {
    width: 100%;
}

.quoteBlock {
    display: flex;
    flex-direction: column;
}

.quoteBlock:last-child {
    display: none;
}

.quoteBlock q {
    margin-left: 20px;
    text-align: center;
}

.quoteImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
}

.flip-box {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    border-radius: 100px;
    margin: auto;
}
  
.flip-box-inner {
    position: relative;
    width: 200px;
    height: 200px;
    text-align: center;
    transition: transform 0.8s ease-in-out 0.1s;
    transform-style: preserve-3d;
}
  
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}
  
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 100px;
}
  
.flip-box-back {
    background-color: #72DB6E;
    color: #000;
    transform: rotateY(180deg);
}

.flip-box-back h2 {
    font-size: 17px;
    margin-top: 30px;
}

.flip-box-back p {
    font-size: 13px;
    margin: 0 20px 20px;
}

.mainContent aside {
    background:  rgb(114,219,110);
    border-radius: 25px;
    padding: 20px;
}
.mainContent h2 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}
.mainContent p {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}

/*********************** 
        Over ons
***********************/

.wieBenIkFlex {
    display: flex;
    flex: 100%;
    flex-flow: row wrap;
}
.wieBenIkTitle {
    font-size: 60px;
    color: rgba(255,255,255,1);
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    width: fit-content;
    margin: auto;
    /* margin-top: 25px; */
    padding: 10px;
    border-radius: 20px;
    background: rgba(114,219,110,1);
}
.wieBenIkArticle {
    margin: auto;
    margin-top: 40px;
    background: rgba(114,219,110,1);
    border-radius: 50px;
    width: 80%;
}

.wieBenIkArticle h2 {
    text-align: center;
    font-size: 40px;
    color: rgba(255,255,255,1);
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}
.wieBenIkArticle p {
    font-size: 20px;
    color: rgba(255,255,255,1);
    padding: 5%;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}


/*********************** 
          Foto's
***********************/
.imgTitle {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    width: fit-content;
    margin: auto;
    /* margin-top: 25px; */
    font-size: 60px;
}
.imgSubTitle {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    font-size: 30px;
}

.imgRow {
    flex: 100%;
    max-width: auto;
    margin-right: 40px;
  }

.imgRow:last-of-type {
    margin-right: 0;
}

  .imgColumn {
    display: flex;
    flex-flow: row wrap;
    
  }
  
  .imgColumn img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 10px;
  }
  .imgBox {
    background: rgba(114,219,110,1);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
  }

/*********************** 
       Leaderboard
***********************/
.leaderboard {
    padding: 40px 15vw;
}

.leaderboard table,
.leaderboard th,
.leaderboard td {
    border-collapse: collapse;
}

.leaderboard tr:first-of-type {
    background-color: darkgreen;
}

.leaderboard th {
    text-align: left;
    /* background-color: darkgreen; */
    color: #fff;
    padding: 5px;
    /* border: 1px solid black; */
    border-collapse: collapse;
}

.leaderboard td {
    border: 1px solid black;
    padding: 5px;
}

/*********************** 
    Staff applications
***********************/
.staffApplications {
    margin: auto;
    display: flex;
    flex: 100%;
    flex-flow: row wrap;
    width: 90%;
    padding: 10px;
    border: 4px white;
    border-radius: 10px;
    background-color: #B1FF80;
}
/* Default state for different form elements */
.staffApplications input{
    background-color: rgba(110, 219, 168, 0.5);
    height: 50px;
    margin: 5%;
    border-radius: 10px;
    text-align: center;
    width:90%;

}

.staffApplications input[type="radio"], input[type="checkbox"]{
    background-color: rgba(110, 219, 168, 0.5);
    height: auto;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    width:auto;

}

.staffApplications select {
    background-color: rgba(110, 219, 168, 0.5);
    height: 50px;
    margin: 5%;
    width: 90%;
    border-radius: 10px;
    text-align: center;
}

.staffApplications textarea {
    background-color: rgba(110, 219, 168, 0.5);
    width: 90%;
    height: 100px;
    border-radius: 10px;
}

.staffApplications p {
}

.radioYN {
display: flex;
flex-direction: column;

}
/* Resize the different form fields */

.staffApplications input[name="age"] {
    width: auto;
}

.staffApplications input[name="email"] {
    width: 50%;
}

 /* Animation on focus */
.staffApplications input:focus {
    animation: staffApplicationsFormField;
    animation-duration: 1s;
    background-color: rgba(110, 219, 168, 1);
    height: 60px;
}

.staffApplications textarea:focus {
    animation: staffApplicationsFormFieldLarge;
    animation-duration: 1s;
    background-color: rgba(110, 219, 168, 1);
    height: 120px;
}

/* focus animations */
@keyframes staffApplicationsFormField{
    from {
        background-color: rgba(110, 219, 168, 0.5);
        height: 50px
    }
    to {
        background-color: rgba(110, 219, 168, 1);
        height: 60px;
    }

}

@keyframes staffApplicationsFormFieldLarge{
    from {
        background-color: rgba(110, 219, 168, 0.5);
        height: 100px
    }
    to {
        background-color: rgba(110, 219, 168, 1);
        height: 120px;
    }

}
/* Special effect for the terms and conditions scam popup */

.termsAndConditions {
    border-bottom: 1px dotted black;
}
.termsAndConditionsText {
    display: none;
    position: absolute;
    z-index: 1;
    background: rgba(110, 219, 168, 1);
    width: 60%;
    border: 5px solid black;
    border-radius: 10px;
}
.termsAndConditions:hover .termsAndConditionsText {
    display: block;
}
/*********************** 
    Media queries
***********************/
@media screen and (min-width: 480px) {
    .mainContent {
        flex-direction: row;
    }

    .mainContent aside {
        width: 40vw;
    }
}

@media screen and (min-width: 1024px) {
    /* General */
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mainMenu ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    header {
        background-image: url("images/nightSky.png");
        background-position: center;
    }

    .dropdown {
        display: none
    }

    .mainContent {
        padding: 40px 10vw;
    }

    .mainContent aside {
        width: 600px;
    }

    .quoteBlock {
        flex-direction: row;
    }

    .quoteBlock:last-child {
        display: flex;
    }

    .flip-box {
        margin: 0;
    }
/* Wie zijn wij pagina */
    .wieBenIkArticle {
        width: 40%;
    }

    .imgRow {
        flex: 25%;
      }

/* Staff applications page */

    .staffApplications {
        
    }

    .staffApplications input {
        width: 40%
    }
/* Footers */
    footer ul {
        flex-direction: row;
    }
    
    footer ul .divider {
        display: unset;
    }
}

