/*********************** 
        Algemeen
***********************/

body {
    margin: 0;
}

header {
    width: 100vw;
    background-color: #85F2A0;
}

header section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    
}

.logo {
    height: 100%;
    padding: 25px;
}

.mainMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 60px;
    background-color: #72DB6E;
    padding: 0;
    margin-bottom: 0;
}

.mainMenu ul {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 10%;
    list-style: none;
}

.mainMenu a {
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

/*********************** 
          Home
***********************/
.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 350px;
    background-image: url(images/unknown-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero h1,
.hero h2 {
    text-align: center;
    color: #FFF;
    margin: 0;
}

.hero h1 {
    font-size: 40px;
}

.hero h2 {
    font-size: 27px;
}

.mainContent {
    display: flex;
    flex-direction: row;
    padding: 40px 140px;
}

.mainContent div {
    width: 100%;
}

.mainContent aside {
    background: green;
    width: 400px;
}

/*********************** 
        Over ons
***********************/
.wieBenIkBody {
    background: rgb(125,250,227);
    background: linear-gradient(180deg, rgba(125,250,227,1) 0%, rgba(110,219,168,1) 46%, rgba(133,242,160,1) 100%);
    height: 100%;
}
.wieBenIkArticle {
    margin: 10%;
    background: rgba(114,219,110,1);
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}
.wieBenIkArticle h1 {
    font-size: 40px;
    color: rgba(255,255,255,1);
    font-family: 'Lora', serif;
}
.wieBenIkArticle p {
    font-family: 'Lora', serif;
    font-size: 20px;
    color: rgba(255,255,255,1);
    padding: 5%;
}
.wieBenIkFooter {
    background: #72db6e
}