/*********************** 
        Algemeen
***********************/

body {
    margin: 0;
}

header {
    width: 100vw;
    background-color: #85F2A0;
}

header section {

}

.logo {
    margin-left: auto;
    margin-right: auto;
}