/*********************** 
        Algemeen
***********************/

body {
    margin: 0;
}

header {
    width: 100vw;
    background-color: #85F2A0;
}

header section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    
}

.logo {
    height: 100%;
    padding: 25px;
}

.mainMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 60px;
    background-color: #72DB6E;
    padding: 0;
}

.mainMenu ul {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 10%;
    list-style: none;
}

.mainMenu a {
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

/*********************** 
        Over ons
***********************/
.WieBenIkBody {
    background: linear-gradient(180deg, rgba(114,219,110,1) 0%, rgba(133,242,160,1) 65%, rgba(255,255,255,1) 100%);
    height: 100%;
}
.WieBenIkFooter {
    background: #72db6e
}